.img{
    justify-content: center;
    display: flex;
    margin-bottom: 30px;
    gap: 40px;
    margin-top: 30px;
}
.nav{
    justify-content: center;
    display: flex;
    gap: 30px;
    list-style: none;
}header,footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 0, 0, 0.767);
}a{
    text-decoration: none;
    font-size: 25px;
    color: rgb(61, 61, 61);
    transition: 3s;
}
.main-title{
    text-align: center;
}